<div id="<%= dom_id product_sold %>">
  <p>
    <strong>Sell price:</strong>
    <%= product_sold.sell_price %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product_sold.quantity %>
  </p>

</div>
