<% content_for :title, "Actualizar usuario" %>
<div class="container">
<h1>Actualizar usuario</h1>
<div style="width: 60%; justify-content: center">
<%= render "form", user: @user %>
</div>
<br>

<div class="mt-4">
  <%= link_to I18n.t("users.buttons.show"), @user %> |
  <%= link_to I18n.t("users.buttons.back"), users_path %>
</div>

</div>