<% content_for :title, "Nuevo usuario" %>
<div class="container">
<h1>Nuevo usuario</h1>
<div style="width: 60%; justify-content: center">
<%= render "form", user: @user %>
</div>
<br>

<div class="mt-4">
  <%= link_to "Volver a usuarios", users_path %>
</div>

</div>