<div class="container pt-5 pb-5">
    <h1 class="text-center mb-5"><%= I18n.t("errors.not_found.title") %></h1> 
    <p><%= I18n.t("errors.not_found.message") %></p> 
    <%= link_to I18n.t("buttons.back_to_home"), root_path, class:"btn btn-link" %>
<div>