<div class="container pt-5 pb-5">
    <h1 class="text-center mb-5">P치gina No Encontrada</h1> 
    <p>Lo sentimos, la p치gina que est치s buscando no existe.</p> 
    <%= link_to 'Volver a la p치gina principal', root_path, class:"btn btn-link" %>
<div>