<% content_for :title, I18n.t("colors.create") %>
<div class="container">
<h1><%= I18n.t("colors.create") %></h1>
<div style="width: 60%; justify-content: center">
<%= render "form", color: @color %>
</div>
<br>

<div class="mt-4">
  <%= link_to I18n.t("buttons.back_to_manage"), store_management_path %>
</div>

</div>