<% content_for :title, "Nuevo color" %>
<div class="container">
<h1>Nuevo color</h1>
<div style="width: 60%; justify-content: center">
<%= render "form", color: @color %>
</div>
<br>

<div class="mt-4">
  <%= link_to "Volver a gestión", store_management_path %>
</div>

</div>