/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 @import "bootstrap";

 body {
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: white;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }

  .welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
  }
  .welcome-text {
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
  }
  p {
    font-size: 1.5rem;
  }

  .container {
    height: 100%;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7em;
    margin-bottom: 5em;
  }

  .login-form {
    width: 100%;
    max-width: 400px; /* Máximo ancho del formulario */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  .form-control:focus {
    border-color: #0d6efd; /* Color de borde cuando el input está enfocado */
    outline: none;
  }

  .product-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  }

  .elements-container {
    width: 40%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }

  .element-container {
    margin-bottom: 3em;
  }

@media (max-width: 768px) { 
  .product-container {
    flex-direction: column;
    align-items: center; 
  }

  .elements-container {
    width: 60%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }
}

