
<% content_for :title, "Nueva categoría" %>
<div class="container">
<h1>Actualizar categoría</h1>
<div style="width: 60%; justify-content: center">
<%= render "form", category: @category %>
</div>
<br>

<div class="mt-4">
  <%= link_to "Volver a gestión", store_management_path %>
</div>

</div>