
<% content_for :title, I18n.t("categories.create") %>
<div class="container">
<h1><%=I18n.t("categories.update")%></h1>
<div style="width: 60%; justify-content: center">
<%= render "form", category: @category %>
</div>
<br>

<div class="mt-4">
  <%= link_to I18n.t("buttons.back_to_manage"), store_management_path %>
</div>

</div>