<% content_for :title, "Editar producto" %>
<div class="container">
<h1>Editar producto</h1>
<div style="width: 60%; justify-content: center">

<%= render "form", product: @product %>
</div>
<br>

<div class="text-center mt-4">
  <%= link_to "Mostrar producto", @product %> |
  <%= link_to "Volver a productos", products_path %>
</div>
