<% content_for :title, "Nuevo producto" %>
<div class="container">
<h1>Nuevo producto</h1>
<div style="width: 60%; justify-content: center">
<%= render "form", product: @product %>
</div>
<br>

<div class="mt-4">
  <%= link_to "Volver a productos", products_path %>
</div>

</div>
